* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9B4F6;
}

.parent-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.box {
    background-color: #F5F5F5;
    min-height: 20rem;
    min-width: 15rem;
    border-radius: 2rem;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    padding: 2.5rem 3rem;
    place-items: center;
    gap: 3rem;
}

.rollBtn{
    padding: 2rem 2.5rem;
    background-color: #5DF15D;
    border-radius: 1.5rem;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.title{
    margin-top: 1rem;
    font-size: 3rem;
}

